body{
    background-image: linear-gradient(#43b0f1, #e8eef1);
}

header{
    display: flex;
    justify-content: initial;
    text-decoration: none;
    color: #fff;
    padding: 20px 0;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
}

main{
}

footer{
}